<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="home">DevConnector</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobile-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="developers"> Developers
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Register -->
<div class="register">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
        <h1 class="display-4 text-center">Sign Up</h1>
        <p class="lead text-center">Create your DevConnector account</p>
        <p *ngIf="errorMessage" style="color: dodgerblue" >{{errorMessage}}</p>
        <form #registerForm (ngSubmit)="doRegister(registerForm)">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Name" [(ngModel)]="sginup.name"
                   autocomplete="off"
                   #name="ngModel" name="name" required />
          </div>
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" placeholder="Email Address" [(ngModel)]="sginup.email"
                   autocomplete="off"
                   #email="ngModel"  name="email" />
            <small className="form-text text-muted">This site uses Gravatar so if you want a profile image, use a Gravatar email</small>
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-lg" [(ngModel)]="sginup.password"
                   autocomplete="off"
                   #password="ngModel"  placeholder="Password" name="password" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-lg" [(ngModel)]="sginup.password2"
                   autocomplete="off"
                   #password2="ngModel"  placeholder="Confirm Password" name="password2" />
          </div>
          <input type="submit" class="btn btn-info btn-block mt-4" />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-white mt-5 p-4 text-center">
  Copyright &copy; 2018 Dev Connector
</footer>
